.header {
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 2px #bebebe;
}

img{
  width: 100%;
  max-width: 250px;
  height: 55px;
}

.material-icons.md-25 {
  font-size: 19px;
}

.btnHome {
  margin-left: 1%;
}
