<div class="fondo">
  <img class="imgPortada" src="../../assets/img/imgPortada.jpg" alt="imgFondo">
  <div class="codePassSettings slide-top">
    <p class="titulo">FIND YOUR EVENT</p>
    <div class="form-group m-3">
        <input type="password"
        class="form__field"
        placeholder="  Event Code"
        [(ngModel)]="nombreEvento">
    </div>

    <button class="btn btn-info"
      (click)="validacion(nombreEvento)">
      <span class="btnText">SEARCH</span>
    </button>
    <img class="imgLogo" src="../../assets/img/logoHorizontalBlanco.png" alt="imgLogoBlanco">
  </div>
</div>
<!--
  <img class="d-block w-100" src="../../assets/img/img2.png" alt="imgFondo">
<div class="codePassSettings slide-top">

  <div class="form-group m-3">
      <input type="password"
      class="form-control"
      placeholder="Codigo Del Evento"
      [(ngModel)]="nombreEvento">
  </div>

  <button class="btn btn-primary mb-2"
    (click)="validacion(nombreEvento)">
    <i class="material-icons md-48">touch_app</i>
  </button>

</div>
-->

